# This config file prepares any post deployment Linux scripts
container_commands:
    01_make_executable:
        command: chmod +x .platform/hooks/postdeploy/*.sh

    02_ensure_unix_format:
        command: dos2unix .platform/hooks/postdeploy/*.sh

    03_ensure_unix_for_cron:
        command: dos2unix .ebextensions/assets/crontab