# Configure the server to listen for both HTTP and HTTPS traffic. Note that in order to achieve this, you will also need to ensure that the 
# security group inbound traffic rules allow HTTP and HTTPS through to the server.
Resources:
    sslSecurityGroupIngress:
        Type: AWS::EC2::SecurityGroupIngress
        Properties:
            GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
            IpProtocol: tcp
            ToPort: 443
            FromPort: 443
            CidrIp: 0.0.0.0/0

        Type: AWS::EC2::SecurityGroupIngress
        Properties:
            GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
            IpProtocol: tcp
            ToPort: 80
            FromPort: 80
            CidrIp: 0.0.0.0/0
