option_settings:
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: COMPOSER_HOME
      value: /root

# Keep composer up to date
commands:
    01updateComposer:
        command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

# These commands are executed once your application has been unpacked, while it is in the staging area
# of the file system. Here you can execute any custom commands. Just be aware that the application is
# not yet in its final location, so any files created that are created that may use the current full
# app path should probably not be executed here.
container_commands:
    01_optimize_composer_classloading:
        command: /usr/bin/composer.phar install --optimize-autoloader --no-dev
    02_clear_cache:
        command: php artisan cache:clear
    03_migrate:
        command: php artisan migrate --force
    04_chown:
        command: chown -R webapp:webapp storage
